<!DOCTYPE html>
<html>
<head><meta charset="UTF-8"></head>
<body>
			<nav class="sidebar sidebar-open" th:fragment="nav-sidebar">
				<ul class="nav nav-pills">
					<li class="nav-item"><a class="nav-link " th:href="@{/}"> <i
							class="oi oi-home"></i> <span th:text="#{sidebar.link.home}"></span>
					</a></li>
				</ul>

				<ul class="nav nav-pills">
					<li class="nav-item"><span class="nav-link active" th:text="#{sidebar.titulo.projeto}">Projetos</span></li>
					<li class="nav-item"><a class="nav-link"
						th:href="@{/projetos/cadastrar}"> <i class="oi oi-plus"></i>
						<span th:text="#{sidebar.link.cadastrar}">Cadastrar</span>
					</a></li>
					<li class="nav-item"><a class="nav-link"
						th:href="@{/projetos/listar}"> <i class="oi oi-spreadsheet"></i>
							<span th:text="#{sidebar.link.listar}">Listar </span>
					</a></li>
				</ul>

				<ul class="nav nav-pills">
					<li class="nav-item"><span class="nav-link active" th:text="#{sidebar.titulo.usuario}">Usuarios</span></li>
					<li class="nav-item"><a class="nav-link" 
						th:href="@{/usuarios/cadastrar}"> <i class="oi oi-plus"></i>
						<span th:text="#{sidebar.link.cadastrar}">Cadastrar </span>
					</a></li>
					<li class="nav-item"><a class="nav-link" 
						th:href="@{/usuarios/listar}"> <i
							class="oi oi-spreadsheet"></i> 
							<span th:text="#{sidebar.link.listar}">Listar </span>
					</a></li>
				</ul>

				<ul class="nav nav-pills">
					<li class="nav-item"><span class="nav-link active" th:text="#{sidebar.titulo.amostra}">Amostras</span></li>
					<li class="nav-item"><a class="nav-link" 
						th:href="@{/amostras/cadastrar}"> <i class="oi oi-plus"></i>
						<span th:text="#{sidebar.link.cadastrar}">Cadastrar </span>
					</a></li>
					<li class="nav-item"><a class="nav-link" 
						th:href="@{/amostras/listar}"> <i class="oi oi-spreadsheet"></i>
						<span th:text="#{sidebar.link.listar}">Listar </span>
					</a></li>
				</ul>
			</nav>
</body>
</html>